@model EditBookViewModel

@{
    ViewData["Title"] = "Modifica libro";
}

<h1>Modifica libro</h1>

<form asp-controller="Book" asp-action="Edit" asp-route-oldPath="@Model.CoverUrl" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
    <div class="mb-2">
        <label for="Title" class="form-label">Titolo</label>
        <input type="text" class="form-control" id="Title" asp-for="Title" required>
    </div>
    <div class="mb-2">
        <label for="Author" class="form-label">Autore</label>
        <input type="text" class="form-control" id="Author" asp-for="Author" required>
    </div>
    <div class="mb-2">
        <label for="Genre" class="form-label">Genere</label>
        <input type="text" class="form-control" id="Genre" asp-for="Genre" required>
    </div>
    <div class="mb-2">
        <label for="CoverPath" class="form-label">Carica una copertina dai file</label>
        <input type="file" class="form-control" id="CoverPath" name="CoverPath">
    </div>
    <div class="mb-2">
        <label for="Available" class="form-label">Disponibile al prestito?</label>
        <select class="form-select" id="Disponibile" asp-for="Available" required>
            <option value="true">Si</option>
            <option value="false">No</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Salva</button>
</form>

